#root {
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 8rem;
}

.content .split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.content .split .col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 3rem;
  border: 1px solid var(--bg-l2);
  border-radius: 0.5rem;
  background-color: var(--bg-l1);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  line-height: 1.5;
}
