:root {

  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;

  --bg: #0a0a0a;
  --bg-l1: #1a1a1a;
  --bg-l2: #303030;
  --bg: #ffffff;
  --bg-l1: #efefef;
  --bg-l2: #dfdfdf;

  --text-color: #afafaf;
  --heading-color: #efefef;
  --text-color: #202020;
  --heading-color: #101010;
  background-color: var(--bg);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Geist, Inter, system-ui, Helvetica, Arial, sans-serif;

}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: var(--heading-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heading-color);
  margin: 0;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 1.125rem;
  color: var(--heading-color);
}

h5 {
  font-size: 1rem;
  color: var(--heading-color);
}
