:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  --bg: #101012;
  --bg-l1: #181819;
  --bg-l2: #303031;
  --text-color: #afafaf;
  --heading-color: #efefef;
  background-color: var(--bg);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: var(--heading-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  color: var(--heading-color);
}

h4 {
  font-size: 1.125rem;
  color: var(--heading-color);
}

h5 {
  font-size: 1rem;
  color: var(--heading-color);
}
